---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import TitleHeader from "../../components/TitleHeader.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const roadmapItems = await getCollection("roadmapItems");

  return roadmapItems.map((roadmapItem) => ({
    params: { slug: roadmapItem.id },
    props: roadmapItem,
  }));
}

type Props = CollectionEntry<"roadmapItems">;
const roadmapItem = Astro.props;
const { Content } = await render(roadmapItem);

import { Image } from "astro:assets";
// import  heroImage from `../../content/roadmap/${roadmapItem.id}/${roadmapItem.data.heroImage}`;

// const images = import.meta.glob<{ default: ImageMetadata }>('/src/content/roadmap/**/*.{jpeg,jpg,png,gif}');
// console.log(images)

---

<Layout title={roadmapItem.data.title}>
  <TitleHeader>{roadmapItem.data.title}</TitleHeader>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <Image
        format="png"
          alt={roadmapItem.data.title}
          src={roadmapItem.data.heroImage}
          style="max-width:600px;height:auto;width:100%; border-radius: 10px; background-color: white; display: block; margin: 0 auto 20px auto;"
        />
        <Content />
      </div>
    </div>
  </div>
</Layout>
