---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import TitleHeader from "../../components/TitleHeader.astro";
import { getCollection } from "astro:content";
title: "Roadmap";

const roadmapItems = await getCollection("roadmapItems");

const sections = [
  {
    status: "in-progress",
    title: "In Progress",
  },
  {
    status: "under-consideration",
    title: "Under Consideration",
  },
  {
    status: "released",
    title: "Released",
  },
];

function formatDate(dateString) {
  const date = new Date(dateString);
  const options = { year: "numeric", month: "long" };
  return date.toLocaleDateString("en-US", options);
}
---

<Layout title="Roadmap">
  <TitleHeader>Roadmap</TitleHeader>
  <style>
    .card {
      background-color: #1e3150;

      > img {
        background-color: white;
      }
    }
  </style>
  <div class="container">
    {
      sections.map((section) => (
        <>
          <h2>{section.title}</h2>

          <div
            style="display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
      margin-bottom: 50px;"
          >
            {roadmapItems
              .filter((item) => item.data.status == section.status)
              .sort((a, b) => b.data.released - a.data.released)
              .map((item) => {
                return (
                  <div class="card">
                    <Image
                      class="card-img-top"
                      src={item.data.heroImage}
                      alt={item.data.title}
                      style=`width: 100%; height: 250px; object-fit: ${item.data.heroImageFit || "cover"};`
                    />
                    <div class="card-body">
                      <h5 class="card-title">{item.data.title}</h5>
                      <a href={`roadmap/${item.id}`} class="btn btn-primary">
                        Read more...
                      </a>
                      {item.data.released ? (
                        <p style="margin: 10px 0 0 0;">
                          Released: {formatDate(item.data.released)}
                        </p>
                      ) : (
                        ""
                      )}
                    </div>
                  </div>
                );
              })}
          </div>
        </>
      ))
    }
  </div>
</Layout>
