---
import TitleHeader from "../../components/TitleHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import vulkan from "../../assets/maplibre-native/vulkan.png";
import metal from "../../assets/maplibre-native/metal.png";
import opengl from "../../assets/maplibre-native/opengl.png";
import ios from "../../assets/maplibre-native/ios.png";
import android from "../../assets/maplibre-native/android.png";
import androidPhone from "../../../public/img/maplibre-native-android.png";
import iosPhone from "../../../public/img/maplibre-native-ios.png";
---

<style lang="scss">
  section {
    padding: 20px 0;
    text-align: center;
    > h1 {
      color: white;
      margin: 0 auto;
    }
    > p {
      color: white;
      margin: 20px auto;
    }
  }

  .mobile {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    > div {
      padding: 0px;
      gap: 10px;
      /* max-width: 200px; */
      justify-content: center;
      align-items: center;
      display: flex;

      /* flex-direction: column; */
      /* justify-content: space-between; */
      border-radius: 20px;
      
      max-width: 100%;
      > img {
        width: 100%;
        height: auto;
        
        max-height: 200px;
        max-width: 200px;
        &.phone {
          max-height: 400px;
        }
      }
    }
  }

  .graphics-sdks {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    > div {
      padding: 10px;
      max-width: 200px;
      min-width: 150px;
      background-color: white;
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 20px;
      
      > img {

        height: auto;
        width: 100%;
      }
    }
  }
</style>

<Layout title="MapLibre Native">
  <TitleHeader>MapLibre Native</TitleHeader>

  <section>
    <h1>Mobile development</h1>
    <p>MapLibre Native is optimized for mobile development</p>
  


    <div class="mobile">
      <div>
        <Image class="phone" src={androidPhone} alt="android" />
      </div>
      <div>
        <Image class="phone" src={iosPhone} alt="ios" />
      </div>
    </div>

    
    
    

  </section>

  <section>
    <h1>Graphics</h1>
    <p>MapLibre Native support modern graphics APIs</p>

    <div class="graphics-sdks">
      <div>
        <Image src={vulkan} alt="Vulkan" />
      </div>
      <div>
        <Image src={metal} alt="Metal" />
      </div>
      <div>
        <Image src={opengl} alt="OpenGL" />
      </div>
    </div>
  </section>

  <section>
    <h1>Platform SDKs</h1>
    <p>MapLibre Native support the latest graphics APIs</p>

    <div class="graphics-sdks">
      <div>
        <Image src={ios} alt="iOS" />
      </div>
      <div>
        <Image src={android} alt="Android" />
      </div>
    </div>
  </section>
</Layout>
