---
import "../styles/bootstrap.scss";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const { title, description } = Astro.props;
// import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="MapLibre" />
    <meta name="description" content={description} />
    <!-- <ClientRouter /> -->

    <meta
      property="og:image"
      content="https://maplibre.org/img/share-image.png"
    />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:alt" content="MapLibre" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:url"
      content={`https://maplibre.org${Astro.url.pathname}`}
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@maplibre" />
    <meta name="twitter:creator" content="@maplibre" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image:src"
      content="https://maplibre.org/img/share-image.png"
    />
    <meta name="twitter:image:alt" content="MapLibre" />

    <link rel="manifest" href="/site.webmanifest" />

    <link rel="me" href="https://mastodon.social/@maplibre" />

    <link
      rel="preload"
      href="/files/alata-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="https://demotiles.maplibre.org/style.json"
      as="fetch"
      crossorigin
    />
    <link
      rel="preload"
      href="https://demotiles.maplibre.org/tiles/tiles.json"
      as="fetch"
      crossorigin
    />

    <title>
      {title ? `${title} | MapLibre` : "MapLibre"}
    </title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>
    <Nav />

    <slot />

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
